
.userpro-icon-glass:before {
    content: "\f000"}
.userpro-icon-music:before {
    content: "\f001"}
.userpro-icon-search:before {
    content: "\f002"}
.userpro-icon-envelope-alt:before {
    content: "\f003"}
.userpro-icon-heart:before {
    content: "\f004"}
.userpro-icon-star:before {
    content: "\f005"}
.userpro-icon-star-empty:before {
    content: "\f006"}
.userpro-icon-user:before {
    content: "\f007"}
.userpro-icon-film:before {
    content: "\f008"}
.userpro-icon-th-large:before {
    content: "\f009"}
.userpro-icon-th:before {
    content: "\f00a"}
.userpro-icon-th-list:before {
    content: "\f00b"}
.userpro-icon-ok:before {
    content: "\f00c"}
.userpro .icon-ok:before {
    content: none;
}
.userpro-icon-remove:before {
    content: "\f00d"}
.userpro-icon-zoom-in:before {
    content: "\f00e"}
.userpro-icon-zoom-out:before {
    content: "\f010"}
.userpro-icon-power-off:before, .userpro-icon-off:before {
    content: "\f011"}
.userpro-icon-signal:before {
    content: "\f012"}
.userpro-icon-gear:before, .userpro-icon-cog:before {
    content: "\f013"}
.userpro-icon-trash:before {
    content: "\f014"}
.userpro-icon-home:before {
    content: "\f015"}
.userpro-icon-file-alt:before {
    content: "\f016"}
.userpro-icon-time:before {
    content: "\f017"}
.userpro-icon-road:before {
    content: "\f018"}
.userpro-icon-download-alt:before {
    content: "\f019"}
.userpro-icon-download:before {
    content: "\f01a"}
.userpro-icon-upload:before {
    content: "\f01b"}
.userpro-icon-inbox:before {
    content: "\f01c"}
.userpro-icon-play-circle:before {
    content: "\f01d"}
.userpro-icon-rotate-right:before, .userpro-icon-repeat:before {
    content: "\f01e"}
.userpro-icon-refresh:before {
    content: "\f021"}
.userpro-icon-list-alt:before {
    content: "\f022"}
.userpro-icon-lock:before {
    content: "\f023"}
.userpro-icon-flag:before {
    content: "\f024"}
.userpro-icon-headphones:before {
    content: "\f025"}
.userpro-icon-volume-off:before {
    content: "\f026"}
.userpro-icon-volume-down:before {
    content: "\f027"}
.userpro-icon-volume-up:before {
    content: "\f028"}
.userpro-icon-qrcode:before {
    content: "\f029"}
.userpro-icon-barcode:before {
    content: "\f02a"}
.userpro-icon-tag:before {
    content: "\f02b"}
.userpro-icon-tags:before {
    content: "\f02c"}
.userpro-icon-book:before {
    content: "\f02d"}
.userpro-icon-bookmark:before {
    content: "\f02e"}
.userpro-icon-print:before {
    content: "\f02f"}
.userpro-icon-camera:before {
    content: "\f030"}
.userpro-icon-font:before {
    content: "\f031"}
.userpro-icon-bold:before {
    content: "\f032"}
.userpro-icon-italic:before {
    content: "\f033"}
.userpro-icon-text-height:before {
    content: "\f034"}
.userpro-icon-text-width:before {
    content: "\f035"}
.userpro-icon-align-left:before {
    content: "\f036"}
.userpro-icon-align-center:before {
    content: "\f037"}
.userpro-icon-align-right:before {
    content: "\f038"}
.userpro-icon-align-justify:before {
    content: "\f039"}
.userpro-icon-list:before {
    content: "\f03a"}
.userpro-icon-indent-left:before {
    content: "\f03b"}
.userpro-icon-indent-right:before {
    content: "\f03c"}
.userpro-icon-facetime-video:before {
    content: "\f03d"}
.userpro-icon-picture:before {
    content: "\f03e"}
.userpro-icon-pencil:before {
    content: "\f040"}
.userpro-icon-map-marker:before {
    content: "\f041"}
.userpro-icon-adjust:before {
    content: "\f042"}
.userpro-icon-tint:before {
    content: "\f043"}
.userpro-icon-edit:before {
    content: "\f044"}
.userpro-icon-share:before {
    content: "\f045"}
.userpro-icon-check:before {
    content: "\f046"}
.userpro-icon-move:before {
    content: "\f047"}
.userpro-icon-step-backward:before {
    content: "\f048"}
.userpro-icon-fast-backward:before {
    content: "\f049"}
.userpro-icon-backward:before {
    content: "\f04a"}
.userpro-icon-play:before {
    content: "\f04b"}
.userpro-icon-pause:before {
    content: "\f04c"}
.userpro-icon-stop:before {
    content: "\f04d"}
.userpro-icon-forward:before {
    content: "\f04e"}
.userpro-icon-fast-forward:before {
    content: "\f050"}
.userpro-icon-step-forward:before {
    content: "\f051"}
.userpro-icon-eject:before {
    content: "\f052"}
.userpro-icon-chevron-left:before {
    content: "\f053"}
.userpro-icon-chevron-right:before {
    content: "\f054"}
.userpro-icon-plus-sign:before {
    content: "\f055"}
.userpro-icon-minus-sign:before {
    content: "\f056"}
.userpro-icon-remove-sign:before {
    content: "\f057"}
.userpro-icon-ok-sign:before {
    content: "\f058"}
.userpro-icon-question-sign:before {
    content: "\f059"}
.userpro-icon-info-sign:before {
    content: "\f05a"}
.userpro-icon-screenshot:before {
    content: "\f05b"}
.userpro-icon-remove-circle:before {
    content: "\f05c"}
.userpro-icon-ok-circle:before {
    content: "\f05d"}
.userpro-icon-ban-circle:before {
    content: "\f05e"}
.userpro-icon-arrow-left:before {
    content: "\f060"}
.userpro-icon-arrow-right:before {
    content: "\f061"}
.userpro-icon-arrow-up:before {
    content: "\f062"}
.userpro-icon-arrow-down:before {
    content: "\f063"}
.userpro-icon-mail-forward:before, .userpro-icon-share-alt:before {
    content: "\f064"}
.userpro-icon-resize-full:before {
    content: "\f065"}
.userpro-icon-resize-small:before {
    content: "\f066"}
.userpro-icon-plus:before {
    content: "\f067"}
.userpro-icon-minus:before {
    content: "\f068"}
.userpro-icon-asterisk:before {
    content: "\f069"}
.userpro-icon-exclamation-sign:before {
    content: "\f06a"}
.userpro-icon-gift:before {
    content: "\f06b"}
.userpro-icon-leaf:before {
    content: "\f06c"}
.userpro-icon-fire:before {
    content: "\f06d"}
.userpro-icon-eye-open:before {
    content: "\f06e"}
.userpro-icon-eye-close:before {
    content: "\f070"}
.userpro-icon-warning-sign:before {
    content: "\f071"}
.userpro-icon-plane:before {
    content: "\f072"}
.userpro-icon-calendar:before {
    content: "\f073"}
.userpro-icon-random:before {
    content: "\f074"}
.userpro-icon-comment:before {
    content: "\f075"}
.userpro-icon-magnet:before {
    content: "\f076"}
.userpro-icon-chevron-up:before {
    content: "\f077"}
.userpro-icon-chevron-down:before {
    content: "\f078"}
.userpro-icon-retweet:before {
    content: "\f079"}
.userpro-icon-shopping-cart:before {
    content: "\f07a"}
.userpro-icon-folder-close:before {
    content: "\f07b"}
.userpro-icon-folder-open:before {
    content: "\f07c"}
.userpro-icon-resize-vertical:before {
    content: "\f07d"}
.userpro-icon-resize-horizontal:before {
    content: "\f07e"}
.userpro-icon-bar-chart:before {
    content: "\f080"}
.userpro-icon-twitter-sign:before {
    content: "\f081"}
.userpro-icon-facebook-sign:before {
    content: "\f082"}
.userpro-icon-camera-retro:before {
    content: "\f083"}
.userpro-icon-key:before {
    content: "\f084"}
.userpro-icon-gears:before, .userpro-icon-cogs:before {
    content: "\f085"}
.userpro-icon-comments:before {
    content: "\f086"}
.userpro-icon-thumbs-up-alt:before {
    content: "\f087"}
.userpro-icon-thumbs-down-alt:before {
    content: "\f088"}
.userpro-icon-star-half:before {
    content: "\f089"}
.userpro-icon-heart-empty:before {
    content: "\f08a"}
.userpro-icon-signout:before {
    content: "\f08b"}
.userpro-icon-linkedin-sign:before {
    content: "\f08c"}
.userpro-icon-pushpin:before {
    content: "\f08d"}
.userpro-icon-external-link:before {
    content: "\f08e"}
.userpro-icon-signin:before {
    content: "\f090"}
.userpro-icon-trophy:before {
    content: "\f091"}
.userpro-icon-github-sign:before {
    content: "\f092"}
.userpro-icon-upload-alt:before {
    content: "\f093"}
.userpro-icon-lemon:before {
    content: "\f094"}
.userpro-icon-phone:before {
    content: "\f095"}
.userpro-icon-unchecked:before, .userpro-icon-check-empty:before {
    content: "\f096"}
.userpro-icon-bookmark-empty:before {
    content: "\f097"}
.userpro-icon-phone-sign:before {
    content: "\f098"}
.userpro-icon-twitter:before {
    content: "\f099"}
.userpro-icon-facebook:before {
    content: "\f09a"}
.userpro-icon-github:before {
    content: "\f09b"}
.userpro-icon-unlock:before {
    content: "\f09c"}
.userpro-icon-credit-card:before {
    content: "\f09d"}
.userpro-icon-rss:before {
    content: "\f09e"}
.userpro-icon-hdd:before {
    content: "\f0a0"}
.userpro-icon-bullhorn:before {
    content: "\f0a1"}
.userpro-icon-bell:before {
    content: "\f0a2"}
.userpro-icon-certificate:before {
    content: "\f0a3"}
.userpro-icon-hand-right:before {
    content: "\f0a4"}
.userpro-icon-hand-left:before {
    content: "\f0a5"}
.userpro-icon-hand-up:before {
    content: "\f0a6"}
.userpro-icon-hand-down:before {
    content: "\f0a7"}
.userpro-icon-circle-arrow-left:before {
    content: "\f0a8"}
.userpro-icon-circle-arrow-right:before {
    content: "\f0a9"}
.userpro-icon-circle-arrow-up:before {
    content: "\f0aa"}
.userpro-icon-circle-arrow-down:before {
    content: "\f0ab"}
.userpro-icon-globe:before {
    content: "\f0ac"}
.userpro-icon-wrench:before {
    content: "\f0ad"}
.userpro-icon-tasks:before {
    content: "\f0ae"}
.userpro-icon-filter:before {
    content: "\f0b0"}
.userpro-icon-briefcase:before {
    content: "\f0b1"}
.userpro-icon-fullscreen:before {
    content: "\f0b2"}
.userpro-icon-group:before {
    content: "\f0c0"}
.userpro-icon-link:before {
    content: "\f0c1"}
.userpro-icon-cloud:before {
    content: "\f0c2"}
.userpro-icon-beaker:before {
    content: "\f0c3"}
.userpro-icon-cut:before {
    content: "\f0c4"}
.userpro-icon-copy:before {
    content: "\f0c5"}
.userpro-icon-paperclip:before, .userpro-icon-paper-clip:before {
    content: "\f0c6"}
.userpro-icon-save:before {
    content: "\f0c7"}
.userpro-icon-sign-blank:before {
    content: "\f0c8"}
.userpro-icon-reorder:before {
    content: "\f0c9"}
.userpro-icon-list-ul:before {
    content: "\f0ca"}
.userpro-icon-list-ol:before {
    content: "\f0cb"}
.userpro-icon-strikethrough:before {
    content: "\f0cc"}
.userpro-icon-underline:before {
    content: "\f0cd"}
.userpro-icon-table:before {
    content: "\f0ce"}
.userpro-icon-magic:before {
    content: "\f0d0"}
.userpro-icon-truck:before {
    content: "\f0d1"}
.userpro-icon-pinterest:before {
    content: "\f0d2"}
.userpro-icon-pinterest-sign:before {
    content: "\f0d3"}
.userpro-icon-google-plus-sign:before {
    content: "\f0d4"}
.userpro-icon-google-plus:before {
    content: "\f0d5"}
.userpro-icon-money:before {
    content: "\f0d6"}
.userpro-icon-caret-down:before {
    content: "\f0d7"}
.userpro-icon-caret-up:before {
    content: "\f0d8"}
.userpro-icon-caret-left:before {
    content: "\f0d9"}
.userpro-icon-caret-right:before {
    content: "\f0da"}
.userpro-icon-columns:before {
    content: "\f0db"}
.userpro-icon-sort:before {
    content: "\f0dc"}
.userpro-icon-sort-down:before {
    content: "\f0dd"}
.userpro-icon-sort-up:before {
    content: "\f0de"}
.userpro-icon-envelope:before {
    content: "\f0e0"}
.userpro-icon-linkedin:before {
    content: "\f0e1"}
.userpro-icon-rotate-left:before, .userpro-icon-undo:before {
    content: "\f0e2"}
.userpro-icon-legal:before {
    content: "\f0e3"}
.userpro-icon-dashboard:before {
    content: "\f0e4"}
.userpro-icon-comment-alt:before {
    content: "\f0e5"}
.userpro-icon-comments-alt:before {
    content: "\f0e6"}
.userpro-icon-bolt:before {
    content: "\f0e7"}
.userpro-icon-sitemap:before {
    content: "\f0e8"}
.userpro-icon-umbrella:before {
    content: "\f0e9"}
.userpro-icon-paste:before {
    content: "\f0ea"}
.userpro-icon-lightbulb:before {
    content: "\f0eb"}
.userpro-icon-exchange:before {
    content: "\f0ec"}
.userpro-icon-cloud-download:before {
    content: "\f0ed"}
.userpro-icon-cloud-upload:before {
    content: "\f0ee"}
.userpro-icon-user-md:before {
    content: "\f0f0"}
.userpro-icon-stethoscope:before {
    content: "\f0f1"}
.userpro-icon-suitcase:before {
    content: "\f0f2"}
.userpro-icon-bell-alt:before {
    content: "\f0f3"}
.userpro-icon-coffee:before {
    content: "\f0f4"}
.userpro-icon-food:before {
    content: "\f0f5"}
.userpro-icon-file-text-alt:before {
    content: "\f0f6"}
.userpro-icon-building:before {
    content: "\f0f7"}
.userpro-icon-hospital:before {
    content: "\f0f8"}
.userpro-icon-ambulance:before {
    content: "\f0f9"}
.userpro-icon-medkit:before {
    content: "\f0fa"}
.userpro-icon-fighter-jet:before {
    content: "\f0fb"}
.userpro-icon-beer:before {
    content: "\f0fc"}
.userpro-icon-h-sign:before {
    content: "\f0fd"}
.userpro-icon-plus-sign-alt:before {
    content: "\f0fe"}
.userpro-icon-double-angle-left:before {
    content: "\f100"}
.userpro-icon-double-angle-right:before {
    content: "\f101"}
.userpro-icon-double-angle-up:before {
    content: "\f102"}
.userpro-icon-double-angle-down:before {
    content: "\f103"}
.userpro-icon-angle-left:before {
    content: "\f104"}
.userpro-icon-angle-right:before {
    content: "\f105"}
.userpro-icon-angle-up:before {
    content: "\f106"}
.userpro-icon-angle-down:before {
    content: "\f107"}
.userpro-icon-desktop:before {
    content: "\f108"}
.userpro-icon-laptop:before {
    content: "\f109"}
.userpro-icon-tablet:before {
    content: "\f10a"}
.userpro-icon-mobile-phone:before {
    content: "\f10b"}
.userpro-icon-circle-blank:before {
    content: "\f10c"}
.userpro-icon-quote-left:before {
    content: "\f10d"}
.userpro-icon-quote-right:before {
    content: "\f10e"}
.userpro-icon-spinner:before {
    content: "\f110"}
.userpro-icon-circle:before {
    content: "\f111"}
.userpro-icon-mail-reply:before, .userpro-icon-reply:before {
    content: "\f112"}
.userpro-icon-github-alt:before {
    content: "\f113"}
.userpro-icon-folder-close-alt:before {
    content: "\f114"}
.userpro-icon-folder-open-alt:before {
    content: "\f115"}
.userpro-icon-expand-alt:before {
    content: "\f116"}
.userpro-icon-collapse-alt:before {
    content: "\f117"}
.userpro-icon-smile:before {
    content: "\f118"}
.userpro-icon-frown:before {
    content: "\f119"}
.userpro-icon-meh:before {
    content: "\f11a"}
.userpro-icon-gamepad:before {
    content: "\f11b"}
.userpro-icon-keyboard:before {
    content: "\f11c"}
.userpro-icon-flag-alt:before {
    content: "\f11d"}
.userpro-icon-flag-checkered:before {
    content: "\f11e"}
.userpro-icon-terminal:before {
    content: "\f120"}
.userpro-icon-code:before {
    content: "\f121"}
.userpro-icon-reply-all:before {
    content: "\f122"}
.userpro-icon-mail-reply-all:before {
    content: "\f122"}
.userpro-icon-star-half-full:before, .userpro-icon-star-half-empty:before {
    content: "\f123"}
.userpro-icon-location-arrow:before {
    content: "\f124"}
.userpro-icon-crop:before {
    content: "\f125"}
.userpro-icon-code-fork:before {
    content: "\f126"}
.userpro-icon-unlink:before {
    content: "\f127"}
.userpro-icon-question:before {
    content: "\f128"}
.userpro-icon-info:before {
    content: "\f129"}
.userpro-icon-exclamation:before {
    content: "\f12a"}
.userpro-icon-superscript:before {
    content: "\f12b"}
.userpro-icon-subscript:before {
    content: "\f12c"}
.userpro-icon-eraser:before {
    content: "\f12d"}
.userpro-icon-puzzle-piece:before {
    content: "\f12e"}
.userpro-icon-microphone:before {
    content: "\f130"}
.userpro-icon-microphone-off:before {
    content: "\f131"}
.userpro-icon-shield:before {
    content: "\f132"}
.userpro-icon-calendar-empty:before {
    content: "\f133"}
.userpro-icon-fire-extinguisher:before {
    content: "\f134"}
.userpro-icon-rocket:before {
    content: "\f135"}
.userpro-icon-maxcdn:before {
    content: "\f136"}
.userpro-icon-chevron-sign-left:before {
    content: "\f137"}
.userpro-icon-chevron-sign-right:before {
    content: "\f138"}
.userpro-icon-chevron-sign-up:before {
    content: "\f139"}
.userpro-icon-chevron-sign-down:before {
    content: "\f13a"}
.userpro-icon-html5:before {
    content: "\f13b"}
.userpro-icon-css3:before {
    content: "\f13c"}
.userpro-icon-anchor:before {
    content: "\f13d"}
.userpro-icon-unlock-alt:before {
    content: "\f13e"}
.userpro-icon-bullseye:before {
    content: "\f140"}
.userpro-icon-ellipsis-horizontal:before {
    content: "\f141"}
.userpro-icon-ellipsis-vertical:before {
    content: "\f142"}
.userpro-icon-rss-sign:before {
    content: "\f143"}
.userpro-icon-play-sign:before {
    content: "\f144"}
.userpro-icon-ticket:before {
    content: "\f145"}
.userpro-icon-minus-sign-alt:before {
    content: "\f146"}
.userpro-icon-check-minus:before {
    content: "\f147"}
.userpro-icon-level-up:before {
    content: "\f148"}
.userpro-icon-level-down:before {
    content: "\f149"}
.userpro-icon-check-sign:before {
    content: "\f14a"}
.userpro-icon-edit-sign:before {
    content: "\f14b"}
.userpro-icon-external-link-sign:before {
    content: "\f14c"}
.userpro-icon-share-sign:before {
    content: "\f14d"}
.userpro-icon-compass:before {
    content: "\f14e"}
.userpro-icon-collapse:before {
    content: "\f150"}
.userpro-icon-collapse-top:before {
    content: "\f151"}
.userpro-icon-expand:before {
    content: "\f152"}
.userpro-icon-euro:before, .userpro-icon-eur:before {
    content: "\f153"}
.userpro-icon-gbp:before {
    content: "\f154"}
.userpro-icon-dollar:before, .userpro-icon-usd:before {
    content: "\f155"}
.userpro-icon-rupee:before, .userpro-icon-inr:before {
    content: "\f156"}
.userpro-icon-yen:before, .userpro-icon-jpy:before {
    content: "\f157"}
.userpro-icon-renminbi:before, .userpro-icon-cny:before {
    content: "\f158"}
.userpro-icon-won:before, .userpro-icon-krw:before {
    content: "\f159"}
.userpro-icon-bitcoin:before, .userpro-icon-btc:before {
    content: "\f15a"}
.userpro-icon-file:before {
    content: "\f15b"}
.userpro-icon-file-text:before {
    content: "\f15c"}
.userpro-icon-sort-by-alphabet:before {
    content: "\f15d"}
.userpro-icon-sort-by-alphabet-alt:before {
    content: "\f15e"}
.userpro-icon-sort-by-attributes:before {
    content: "\f160"}
.userpro-icon-sort-by-attributes-alt:before {
    content: "\f161"}
.userpro-icon-sort-by-order:before {
    content: "\f162"}
.userpro-icon-sort-by-order-alt:before {
    content: "\f163"}
.userpro-icon-thumbs-up:before {
    content: "\f164"}
.userpro-icon-thumbs-down:before {
    content: "\f165"}
.userpro-icon-youtube-sign:before {
    content: "\f166"}
.userpro-icon-youtube:before {
    content: "\f167"}
.userpro-icon-xing:before {
    content: "\f168"}
.userpro-icon-xing-sign:before {
    content: "\f169"}
.userpro-icon-youtube-play:before {
    content: "\f16a"}
.userpro-icon-dropbox:before {
    content: "\f16b"}
.userpro-icon-stackexchange:before {
    content: "\f16c"}
.userpro-icon-instagram:before {
    content: "\f16d"}
.userpro-icon-flickr:before {
    content: "\f16e"}
.userpro-icon-adn:before {
    content: "\f170"}
.userpro-icon-bitbucket:before {
    content: "\f171"}
.userpro-icon-bitbucket-sign:before {
    content: "\f172"}
.userpro-icon-tumblr:before {
    content: "\f173"}
.userpro-icon-tumblr-sign:before {
    content: "\f174"}
.userpro-icon-long-arrow-down:before {
    content: "\f175"}
.userpro-icon-long-arrow-up:before {
    content: "\f176"}
.userpro-icon-long-arrow-left:before {
    content: "\f177"}
.userpro-icon-long-arrow-right:before {
    content: "\f178"}
.userpro-icon-apple:before {
    content: "\f179"}
.userpro-icon-windows:before {
    content: "\f17a"}
.userpro-icon-android:before {
    content: "\f17b"}
.userpro-icon-linux:before {
    content: "\f17c"}
.userpro-icon-dribbble:before {
    content: "\f17d"}
.userpro-icon-skype:before {
    content: "\f17e"}
.userpro-icon-foursquare:before {
    content: "\f180"}
.userpro-icon-trello:before {
    content: "\f181"}
.userpro-icon-female:before {
    content: "\f182"}
.userpro-icon-male:before {
    content: "\f183"}
.userpro-icon-gittip:before {
    content: "\f184"}
.userpro-icon-sun:before {
    content: "\f185"}
.userpro-icon-moon:before {
    content: "\f186"}
.userpro-icon-archive:before {
    content: "\f187"}
.userpro-icon-bug:before {
    content: "\f188"}
.userpro-icon-vk:before {
    content: "\f189"}
.userpro-icon-weibo:before {
    content: "\f18a"}
.userpro-icon-renren:before {
    content: "\f18b"}
	